@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.logo {
    width: 6rem; /* Adjust as needed */
    height: 6rem; /* Same value to keep it square */
    border-radius: 50%; /* Makes it circular */
  }
  /* App.css */
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -100%; /* Initially off-screen */
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
}

.cart-sidebar.open {
  right: 0; /* Slide in when 'open' class is added */
}

.cart-content {
  padding: 20px;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100; /* Ensure it's above other content */
  opacity: 0; /* Initially transparent */
  pointer-events: none; /* Disable mouse events */
  transition: opacity 0.3s ease;
}

.cart-sidebar.open .cart-overlay {
  opacity: 1; /* Fade in when 'open' class is added */
  pointer-events: auto; /* Enable mouse events */
}
